@model MyWebiste.Models.Account
@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">
<head>
    <title>Reset_Password :)</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!--===============================================================================================-->
    <link rel="icon" type="image/png" href="~/Login/images/icons/favicon.ico" />
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="~/Login/vendor/bootstrap/css/bootstrap.min.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="~/Login/fonts/font-awesome-4.7.0/css/font-awesome.min.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="~/Login/vendor/animate/animate.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="~/Login/vendor/css-hamburgers/hamburgers.min.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="~/Login/vendor/select2/select2.min.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="~/Login/css/util.css">
    <link rel="stylesheet" type="text/css" href="~/Login/css/main.css">
    <!--===============================================================================================-->
</head>
<body>

    <div class="limiter">
        <div class="container-login100">
            <div class="wrap-login100">
                <div class="login100-pic js-tilt" data-tilt>
                    <img src="~/Login/images/img-01.png" alt="IMG">
                </div>

                <form asp-controller="customer" asp-action="resetpassword" method="post" class="login100-form validate-form">
                    <span class="login100-form-title">
                        Enter new password
                        <br /><h6 style="color:red">@ViewBag.msg</h6>
                    </span>

                    <label>Enter New Password</label>
                    <div class="wrap-input100 validate-input" data-validate="Password is required">
                        <input class="input100" type="password" asp-for="Password" placeholder="Password" required="required" id="password">
                        <span class="focus-input100"></span>
                        <span class="symbol-input100">
                            <i class="fa fa-lock" aria-hidden="true"></i>
                        </span>
                    </div>

                    <label>Confirm Password</label>
                    <div class="wrap-input100 validate-input" data-validate="Password is required">
                        <input class="input100" type="password" asp-for="Password" placeholder="Password" required="required" id="confirm_password">
                        <span class="focus-input100"</span>
                        <span class="symbol-input100">
                            <i class="fa fa-lock" aria-hidden="true"></i>
                        </span>
                    </div>
                    <h6 id='message'></h6>

                    <button type="submit" class="btn btn-primary" id="myBtn">Save</button>
                    <div style="display:flex;justify-content:flex-end; margin-right:50px;">
                        <a href="@Url.Action("login","customer")">Back to List Login</a>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
    <script>
        $('#password, #confirm_password').on('keyup', function () {
            if ($('#password').val() == $('#confirm_password').val()) {
                $('#message').html('Matching').css('color', 'green');
                document.getElementById("myBtn").disabled = false;
            }
            else {
                $('#message').html('Not Matching').css('color', 'red');
                document.getElementById("myBtn").disabled = true;
            }
        });
    </script>


    <!--===============================================================================================-->
    <script src="~/Login/vendor/jquery/jquery-3.2.1.min.js"></script>
    <!--===============================================================================================-->
    <script src="~/Login/vendor/bootstrap/js/popper.js"></script>
    <script src="~/Login/vendor/bootstrap/js/bootstrap.min.js"></script>
    <!--===============================================================================================-->
    <script src="~/Login/vendor/select2/select2.min.js"></script>
    <!--===============================================================================================-->
    <script src="~/Login/vendor/tilt/tilt.jquery.min.js"></script>
    <script>
        $('.js-tilt').tilt({
            scale: 1.1
        })
    </script>
    <!--===============================================================================================-->
    <script src="~/Login/js/main.js"></script>

</body>
</html>